<aside class="col-12 col-md-2 p-0 sidenav-parent">
	<nav class="navbar navbar-expand sidenav flex-md-column flex-row">
		<div class="collapse navbar-collapse">
			<ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
				<li class="nav-item">
					<a href="/"><%= image_tag("tracker-logo.png", :alt => "logo", :class => "nav-logo") %></a>
				</li>
				<li class="nav-item my-auto">
					<a class="nav-link" href="/"><i class="fas fa-2x fa-home"></i></a>
				</li>
				<li class="nav-item my-auto">
					<a class="nav-link" href="/categories"><i class="fas fa-2x fa-plus-circle"></i></a>
				</li>
				<li class="nav-item my-auto">
					<%= link_to destroy_user_session_path, class: 'nav-link', method: :delete do %>
						<span>
							<i class="fas fa-2x fa-sign-out-alt"></i>
						</span>
					<% end %>
				</li>
			</ul>
		</div>
	</nav>
</aside>