
<% if user_signed_in? %>
	<div>Hello, <%= current_user.email %></div>
	<p id="notice"><%= notice %></p>
	<li>
		<%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
	</li>
<% else %>
	<h3>Please sign in</h3>
	<li>
		<%= link_to('Login', new_user_session_path)  %>  
	</li>
<% end %>