// GLOBAL
.btn-mint {
	background-color: #40c9a2;
	color: white;
}
.btn-mint:hover {
	background-color: #66d3b4;
	color: white;
}
.bg-mint {
	background-color: #40c9a2!important;
	color: white;
}
.bg-mint-hover {
	background-color: #66d3b4;
	color: white;
}
.bg-blue {
	background-color: #415674;
	color: white;
}
.btn-blue {
	background-color: #415674;
	color: white;
}
.btn-blue:hover {
	background-color: #5e7ca5
}
.bg-light-custom {
	background-color: #f8f9fa;
	border-color: #f8f9fa;
}
.bg-light-custom:hover {
	background-color: #e2e6ea;
}
.bg-mint .btn {
	color: white;
	text-decoration: none;
}
.bg-mint a:hover {
    text-decoration: none;
    color: white;
}
.panel-title a:after {
    font-family: FontAwesome;
    content: '\f078';
    float: right;
    font-size: 10px;
    font-weight: 300;
}
.panel-title a.collapsed:after {
    font-family: FontAwesome;
    content: '\f077';
}
// SIDEBAR NAV
aside .nav-logo {
	width: 50px;
	height: 60px;
}
aside .fas {
	color: white;
}
aside .sidenav {
	background-color: #393939;
}

@media (min-width: 768px) {
	aside.sidenav-parent {
		max-width: 5em !important;
	}
	aside li.nav-item {
	    padding-bottom: 4em;
	}
	aside .navbar {
		display: block;
	}
	aside .sidenav {
		height: 100vh;
		min-height: 100%;
	}
}

// MAIN PAGE = CATEGORIES PAGE
.main .list-group-item {
	padding: 0 !important;
}
.main .form-inline {
	width: 100%;
}
.main .card-deck .card {
    min-width: 220px;
}
.main .card-total{
	padding: 0.5rem !important;
}
.main .third-row .card-body {
	padding: 0.5rem !important;
}
.main .third-row .card-header {
	border: 1px solid rgba(0,0,0,.125);
	background-color: white;
}
.main .third-row .card {
	border: none;
}
.main .header{
	padding: .75rem 1.25rem;
    margin-bottom: 0;
}
.main{
	font-family: 'Raleway', sans-serif !important;
}
.main .bg-light-custom {
	height: 100%;
	width: 100%;
	border-radius: 0px;
}
.main .bg-light-custom:hover {
	height: 100%;
	width: 100%;
	border-radius: 0px;
}
.main .list-group-item small {
	margin-left: 5px;
}

@media (min-width: 576px) {
	.main .card-deck {
	    display: flex !important;
	    flex-direction: column !important;
	}
}

@media (min-width: 760px) { 
	.main .container-fluid {
	    width: calc(100% - 80px);
	}
	.main .container {
	    max-width: calc(100% - 200px);
	}
	.main .card-deck {
	    flex-direction: row !important;
	}

}

// LOGGED OUT HOMEPAGE
.logged-out-homepage {
	background-image: url(bg1200.jpg);
	background-size: cover;
	height: 130vh;
	font-family: 'Raleway', sans-serif !important;
}
.logged-out-homepage .card {
	width: 20rem;
	background-color: #ebebeb;
	border: none;
	box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}
.logged-out-homepage .logo {
	width: 150px;
	height: 200px;
}
.logged-out-homepage .btn {
	border-radius: 0px;
	height: 3.5em;
}
.logged-out-homepage label {
	margin-bottom: 0px;
	color: #40c9a2;
}
.logged-out-homepage p {
	font-family: 'Raleway Medium', sans-serif !important;
	color: white;
	font-size: 17px;
}
.logged-out-homepage label#user_email-error {
	color: orangered;
	font-size: 12px;
}
.logged-out-homepage label#user_password-error {
	color: orangered;
	font-size: 12px;
}
.logged-out-homepage .form-control.error { 
	border: 1px solid orangered; 
}
.logged-out-homepage label#user_username-error {
	color: orangered;
	font-size: 12px;
}
.logged-out-homepage label#password-error{
	color: orangered;
	font-size: 12px;
}
.logged-out-homepage label#user_password_confirmation-error {
	color: orangered;
	font-size: 12px;
}

@media (min-width: 768px) { 
	.logged-out-homepage {
		background-image: url(bg1200.jpg);
		background-size: cover;
		height: 100vh;
	}
}

// LOGGED IN HOMEPAGE
.logged-in-homepage {
	font-family: 'Raleway', sans-serif !important;
}
.logged-in-homepage .card-header small {
	font-weight: 900;
}
.logged-in-homepage h1 {
	font-family: 'Fjalla One', sans-serif;
	color: white;
	font-size: 4em;
}
.logged-in-homepage .home-bg {
	background-image: url(header-bg1200.jpg);
	height: 250px;
	width: 100%;
	background-size: cover;
}

// VALIDATIONS ERRORS
.main .has-error > .form-control:focus { 
	border-color: #dc3545;
	box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.2);
}


