// GLOBAL
.btn-mint {
	background-color: #40c9a2;
	color: white;
}
.btn-mint:hover {
	background-color: #9fe4d0;
	color: white;
}
.bg-mint {
	background-color: #40c9a2!important;
	color: white;
}
.bg-mint-hover {
	background-color: #9fe4d0;
	color: white;
}

// SIDEBAR NAV
aside .nav-logo {
	width: 50px;
	height: 60px;
}
aside .fas {
	color: white;
}
aside .sidenav {
	background-color: #393939;
}

@media (min-width: 768px) {
	aside.sidenav-parent {
		max-width: 5em !important;
	}
	aside li.nav-item {
	    padding-bottom: 4em;
	}
	aside .navbar {
		display: block;
	}
	aside .sidenav {
		height: 100vh;
		min-height: 100%;
	}
}

// MAIN PAGE = CATEGORIES PAGE
.main .list-group-item {
	padding: 0 !important;
}
.main .form-inline {
	width: 100%;
}
.main .card-header {
	height: 3em;
}
.main .card-deck .card {
    min-width: 220px;
}
.main .card-body {
	padding: 0.5rem !important;
}
.main .panel-title a:after {
    font-family: FontAwesome;
    content: '\f078';
    float: right;
    font-size: 10px;
    font-weight: 300;
}
.main .panel-title a.collapsed:after {
    font-family: FontAwesome;
    content: '\f077';
}
.main .header{
	padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
    height: 3em;
}

@media (min-width: 576px) {
	.main .card-deck {
	    display: flex !important;
	    flex-direction: column !important;
	}
}

@media (min-width: 768px) { 
	.main .btn-block {
	  width: 30% !important;
	}
	.main .container {
	    max-width: 650px !important;
	}
	// .main aside {
	// 	height: 100vh;
	// }
	.main .card-deck {
	    flex-direction: row !important;
	}
}

@media (min-width: 900px) {
	.main .container {
	    max-width: 800px !important;
	}
}

@media (min-width: 1000px) {
	.main .container {
	    max-width: 900px !important;
	}
}


// LOGGED OUT HOMEPAGE
.logged-out-homepage {
	background-image: url(bg.jpg);
	background-size: cover;
	height: 110vh;
	font-family: 'Raleway', sans-serif !important;
}
.logged-out-homepage .card {
	width: 20rem;
	background-color: #ebebeb;
	border: none;
	box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}
.logged-out-homepage .logo {
	width: 150px;
	height: 200px;
}
.logged-out-homepage .btn {
	border-radius: 0px;
	height: 3.5em;
}
.logged-out-homepage label {
	margin-bottom: 0px;
	color: #40c9a2;
}
.logged-out-homepage p {
	font-family: 'Raleway Medium', sans-serif !important;
	color: white;
	font-size: 17px;
}

@media (min-width: 768px) { 
	.logged-out-homepage {
		background-image: url(bg.jpg);
		background-size: cover;
		height: 100vh;
	}
}

// LOGGED IN HOMEPAGE
.logged-in-homepage {
	font-family: 'Raleway', sans-serif !important;
}
.logged-in-homepage h1 {
	font-family: 'Fjalla One', sans-serif;
	color: white;
	font-size: 4em;
}
.logged-in-homepage .card-header button:after {
    font-family: FontAwesome;
    content: '\f078';
    float: right;
    font-size: 17px;
    font-weight: 300;
}
.logged-in-homepage .card-header button.collapsed:after {
    font-family: FontAwesome;
    content: '\f077';
}
.logged-in-homepage .home-bg {
	background-image: url(header-bg.jpg);
	height: 250px;
	width: 100%;
	background-size: cover;
}


// .card-holder {
// 	position: relative;
// 	display: -ms-flexbox;
// 	display: flex;
// 	-ms-flex-direction: column;
// 	flex-direction: column;
// 	min-width: 0;
// 	word-wrap: break-word;
// 	background-color: none;
// 	background-clip: border-box;
// 	border: none;
// 	border-radius: .25rem;
// }



